@use '../../../../../styles' as s;

.selected-color {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}

.selected {
  border: 2px solid s.$color-light;
  background-color: s.$blue-color;
}

.color-pallete {
  max-width: 300px;
  margin: 1.5rem auto 0;
  background-color: s.$background-color;
  padding: 1.5rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.colors,
.active-color {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  // display: inline-block; /* Ajuste para exibir as cores horizontalmente */
  transition: all 0.2s;
  cursor: pointer;
}

#check-icon {
  fill: s.$color-light;
}

#blue {
  background-color: s.$blue-color;
}

#purple {
  background-color: s.$purple-color;
}

#orange {
  background-color: s.$orange-color;
}

#pink {
  background-color: s.$pink-color;
}

#green {
  background-color: s.$green-color;
}
